@model SuryavanshiLibraryManagmentSyatem.Models.Author

@{
    ViewData["Title"] = "Details";
}
<body class="table-info">
    <h1>Details</h1>
    <div>
        <h4>Author</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Notes)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <br></br>
        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
    </div>
    <img src="~/images/bookimage.PNG" />
</body>