@model IEnumerable<SuryavanshiLibraryManagmentSyatem.Models.Author>

@{
    ViewData["Title"] = "Index";
}
 <body background="~/images/Leaf.jpg",width=1000px>
<h2>Authors</h2>
<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Create New</a>
<table class="table" border="2">
    <thead class="tablehead" >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tablebody">
@foreach (var item in Model) {
        <tr>
             <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td >
                @item.Notes
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" >Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>